.background{
    background-color: white;
}

.text{
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.text_paragraph{
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.link{
    color: green;
}

td{
    text-align: center;
    font-weight: bold;
}